{% extends "parent.html" %}
{% block main %}
<div class="row mt-2">
    <div class="col-sm-12" style="background-color:white; min-height: 1000px; ">
<style>
    mark{
        background-color:crimson; color:white; font-family:monospace; font-size:25px;
    }
</style>
            <script>
    function validate()
    {
        var name=document.getElementById("name");
        var con=document.getElementById("con");
        var email=document.getElementById("email");
        var emailexp=/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/;
        if(name.value=="" || name.value==null)
        {
            alert("Please Enter Your Name");
            name.focus();
        }
        else if(con.value=="" || con.value==null)
        {
            alert("Please Enter Your Contact Number");
            con.focus();
        }
        else if(isNaN(con.value))
        {
            alert("Please Enter Number Only");
            con.focus();
        }
        else if(con.value.length!=10)
        {
            alert("Please Enter 10 digit Number");
            con.focus();
        }
        else if(email.value==""|| email.value==null)
        {
            alert("Please Enter Email Address");
            email.focus();
        }
        else if(!emailexp.test(email.value))
        {
            alert("Please Enter Valid E-mail Address");
            email.focus();
        }
        else
        {
            document.getElementById("frm").submit();
        }
    }
</script>
{% if messages %}
   {% for message in messages %}
   <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
   {% endfor %}
{% endif %}
<b style="margin-left:460px; color:white; font-size:70px; font-family:Calibiri;text-shadow: 10px 10px 20px black;"><u>Enquiry Form</u></b>
<div style="background-color: white; width:700px; margin:auto;box-shadow: 10px 20px 50px black; border-radius: 40px 40px 40px 40px;">
<form method="post" action="{% url 'nouapp:contactus' %}" class="form-group" onsubmit="event.preventDefault();validate();" id="frm">
    {% csrf_token %}
<table class="table" style=" margin:auto;width: 80%;">
<tr>
    <td>Enter Your Name
        <input type="text" name="name" placeholder="Enter your Name" class="form-control" id="name" style="border: 1px solid #555;background-color: skyblue; color: black
        ;"/>
    </td>
</tr>
<tr>
    <td>Select Gender<br>
        <input type="radio" name="gender" value="male" class="form-check-input" style="border: 1px solid #555;background-color: skyblue; color: black
        ;"/>Male &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="gender" value="female" class="form-check-input" style="border: 1px solid #555;background-color: skyblue; color: black
        ;"/>Female
    </td>
</tr>
<tr>
    <td>Enter your Address
        <textarea rows="8" placeholder="Enter Address" name="address" class="form-control" style="border: 1px solid #555;background-color: skyblue; color: black
        ;"></textarea>
    </td>
</tr>
<tr>
    <td>Enter Contact Number
        <input type="text" name="contactno" placeholder="Enter your Contact Number" class="form-control" id="con" style="border: 1px solid #555;background-color: skyblue; color: black
        ;"/>
    </td>
</tr>
<tr>
    <td>Enter E-mail Address
        <input type="text" name="emailaddress" placeholder="E-mail Address" class="form-control" id="email" style="border: 1px solid #555;background-color: skyblue; color: black
        ;"/>
    </td>
</tr>
<tr>
    <td>Enter Enquiry
        <textarea rows="8" name="enquirytext" class="form-control" placeholder="Enter your Enquiry content" style="border: 1px solid #555;background-color: skyblue; color: black
        ;"></textarea>
    </td>
</tr>
<tr>
    <td>
        <button type="submit" class="btn btn-outline-info" style="margin-top:10px; width:600px;">Submit</button>
    </td>
</tr>
</table>
</form>
    </div>
</div></div>
{% endblock main %}