{% extends 'parent.html' %}
{% load static %}
{% block main %}
<style>
    span{
        color:brown;
    }
</style>
<div class="row" style="background-color:white; min-height: 100px;">
    <div class="col-sm-12">
        <h5 style="margin-left:200px; margin-top:50px; font-family:garamond;">COURSES<b><hr style="margin-top:-10px; margin-left:100px; width: 100px; color:red;"></h5></b>
        <h1 style="margin-left:200px; font-family:garamond; color:red;" ><b>Our Courses Details</b></h1>
    </div>
</div>
<div class="row " style="background-color:white;">
    <div class="col-sm-4 portfolio-container">
        <div class="box-1" style="margin-left: 110px; margin-top: 50px;">
            <img src="{% static 'images/bba.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
            <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
        <h6>Bachelor in Business Administration</h6>
<h5>Under Graduation Course</h5>
<span>Duration: <strong>3 years</strong></span>
    </div></div>
</div>
<div class="col-sm-4 portfolio-container">
    <div class="box-1" style="margin-left: 60px; margin-top: 50px;">
        <img src="{% static 'images/bca.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
        <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
    <h6>Bachelor in Computer Application</h6>
<h5>Under Graduation Course</h5>
<span>Duration: <strong>3 years</strong></span>
</div></div>
</div>
<div class="col-sm-4 portfolio-container">
    <div class="box-1" style="margin-left:10px;margin-top: 50px;">
        <img src="{% static 'images/bag.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
        <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
    <h6>Bachelor Of Arts(Geography)</h6>
<h5>Under Graduation Course</h5>
<span>Duration: <strong>3 years</strong></span>
</div></div>
</div>
</div>
<div class="row" style="background-color:white;">
    <div class="col-sm-4 portfolio-container">
        <div class="box-1" style="margin-left: 110px;margin-top: 50px;">
            <img src="{% static 'images/bcom.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
            <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
        <h6>Bachelor of Commerce (B.Com.)</h6>
<h5>Under Graduation Course</h5>
<span>Duration: <strong>3 years</strong></span>
    </div></div>
</div>
<div class="col-sm-4 portfolio-container">
    <div class="box-1" style="margin-left: 60px;margin-top: 50px;">
        <img src="{% static 'images/blis.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
        <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
    <h6>Bachelor of Library & Information Science</h6>
<h5>Under Graduation Course</h5>
<span>Duration: <strong>1 years</strong></span>
</div></div>
</div>
<div class="col-sm-4 portfolio-container">
    <div class="box-1" style="margin-left: 10px;margin-top: 50px;">
        <img src="{% static 'images/bsc(chemistry).png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
        <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
    <h6>Bachelor of Science(Chemistry)</h6>
<h5>Under Graduation Course</h5>
<span>Duration: <strong>3 years</strong></span>
</div></div>
</div>
</div>
<div class="row" style="background-color:white;">
    <div class="col-sm-4 portfolio-container">
        <div class="box-1" style="margin-left: 100px;margin-top: 50px;">
            <img src="{% static 'images/ma(environmental).png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
            <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
        <h6>Master of Arts (Environmental Science)</h6>
<h5>Post Graduation Course</h5>
<span>Duration: <strong>2 years</strong></span>
    </div></div>
</div>
<div class="col-sm-4 portfolio-container">
    <div class="box-1" style="margin-left: 60px;margin-top: 50px;">
        <img src="{% static 'images/ma(sanskrit).png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
        <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
    <h6>Master of Arts(Sanskrit)</h6>
<h5>Post Graduation Course</h5>
<span>Duration: <strong>2 years</strong></span>
</div></div>
</div>
<div class="col-sm-4 portfolio-container">
    <div class="box-1" style="margin-left: 10px;margin-top: 50px;">
        <img src="{% static 'images/mca.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
        <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
    <h6>Master in Computer Application</h6>
<h5>Post Graduation Course</h5>
<span>Duration: <strong>2 years</strong></span>
</div></div>
</div>
</div>  
<div class="row" style="background-color:white;">
    <div class="col-sm-4 portfolio-container">
        <div class="box-1" style="margin-left: 100px;margin-top: 50px;">
            <img src="{% static 'images/mcom.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
            <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
        <h6>Master of Commerce</h6>
<h5>Post Graduation Course</h5>
<span>Duration: <strong>2 years</strong></span>
    </div></div>
</div>
<div class="col-sm-4 portfolio-container">
    <div class="box-1" style="margin-left: 60px;margin-top: 50px;">
        <img src="{% static 'images/msc(physics).png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
        <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
    <h6>Master of Science(Physics)</h6>
<h5>Post Graduation Course</h5>
<span>Duration: <strong>2 years</strong></span>
</div></div>
</div>
<div class="col-sm-4 portfolio-container">
    <div class="box-1" style="margin-left: 10px;margin-top: 50px;">
        <img src="{% static 'images/mlis.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
        <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
    <h6>Master in Library and Information Science</h6>
<h5>Post Graduation Course</h5>
<span>Duration: <strong>2 years</strong></span>
</div></div>
</div>
</div>
<div class="row" style="background-color:white;">
    <div class="col-sm-4 portfolio-container">
        <div class="box-1" style="margin-left: 100px;margin-top: 50px;">
            <img src="{% static 'images/pgdfm.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
            <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
        <h6>PG Diploma in Financial Management</h6>
<h5>Diploma Course</h5>
<span>Duration: <strong>2 years</strong></span>
    </div></div>
</div>
<div class="col-sm-4 portfolio-container">
    <div class="box-1" style="margin-left: 60px;margin-top: 50px;">
        <img src="{% static 'images/pgdhet.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
        <div class="portfolio-info" style="box-shadow:  10px 10px 10px BLACK; width:300px;">
    <h6>Post Graduation Diploma (Hindi-English Translate)</h6>
<h5>Diploma Course</h5>
<span>Duration: <strong>2 years</strong></span>
</div></div>
</div>
<div class="col-sm-4 portfolio-container">
    <div class="box-1" style="margin-left: 10px;margin-top: 50px;">
        <img src="{% static 'images/pgdys.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
        <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
    <h6>Post Graduation Diploma (Yogic Studies)</h6>
<h5>Diploma Course</h5>
<span>Duration: <strong>2 years</strong></span>
</div></div>
</div>
</div>
<div class="row" style="background-color:white;">
    <div class="col-sm-4 portfolio-container">
        <div class="box-1" style="margin-left: 100px;margin-top: 50px;">
            <img src="{% static 'images/pgdipr.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
            <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
        <h6>Post Graduation Diploma (Information and Public Relations)</h6>
<h5>Diploma Course</h5>
<span>Duration: <strong>2 years</strong></span>
    </div></div>
</div>
<div class="col-sm-4 portfolio-container">
    <div class="box-1" style="margin-left: 60px;margin-top: 50px;">
        <img src="{% static 'images/pgdmm.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
        <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
    <h6>Post Graduation Diploma (Marketing Management)</h6>
<h5>Diploma Course</h5>
<span>Duration: <strong>2 years</strong></span>
</div></div>
</div>
<div class="col-sm-4 portfolio-container">
    <div class="box-1" style="margin-left: 10px;margin-top: 50px;">
        <img src="{% static 'images/pgdjmc.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
        <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
    <h6>Post Graduation Diploma (Journalism & Mass Communication)</h6>
<h5>Diploma Course</h5>
<span>Duration: <strong>2 years</strong></span>
</div></div>
</div>
</div>   
<div class="row" style="background-color:white;">
    <div class="col-sm-4 portfolio-container">
        <div class="box-1" style="margin-left: 100px;margin-top: 50px;">
            <img src="{% static 'images/cacl.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
            <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
        <h6>Certificate in Abolition of Child Labour</h6>
<h5>Certification Course</h5>
<span>Duration: <strong>1 year</strong></span>
    </div></div>
</div>
<div class="col-sm-4 portfolio-container">
    <div class="box-1" style="margin-left: 60px;margin-top: 50px;">
        <img src="{% static 'images/caimvs.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
        <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
    <h6>Certificate in Artificial Insemination and Minor Veterinary Services</h6>
<h5>Certification Course</h5>
<span>Duration: <strong>1 year</strong></span>
</div></div>
</div>
<div class="col-sm-4 portfolio-container">
    <div class="box-1" style="margin-left: 10px;margin-top: 50px;">
        <img src="{% static 'images/cbep.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
        <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
    <h6>Certificate in Bio-Fertilizer Production</h6>
<h5>Certification Course</h5>
<span>Duration: <strong>1 year</strong></span>
</div></div>
</div>
</div>   
<div class="row"  style="background-color:white;min-height: 400px;">
    <div class="col-sm-4 portfolio-container">
        <div class="box-1" style="margin-left: 100px;margin-top: 50px;">
            <img src="{% static 'images/cbl.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
            <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
        <h6>Certificate in Bhojpuri Language</h6>
<h5>Certification Course</h5>
<span>Duration: <strong>1 year</strong></span>
    </div></div>
</div>
<div class="col-sm-4 portfolio-container">
    <div class="box-1" style="margin-left: 60px;margin-top: 50px;">
        <img src="{% static 'images/cbmanc.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
        <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
    <h6>Certificate in Basic Medical Assessment and Nursing Care</h6>
<h5>Certification Course</h5>
<span>Duration: <strong>1 year</strong></span>
</div></div>
</div>
<div class="col-sm-4 portfolio-container">
    <div class="box-1" style="margin-left: 10px;margin-top: 50px;">
        <img src="{% static 'images/ccpg.png' %}" style="height: 200px; width:300px; box-shadow:5px 0px 5px black;"/>
        <div class="portfolio-info" style="box-shadow: 10px 10px 10px BLACK; width:300px;">
    <h6>Certificate in Child Psychology and Guidance</h6>
<h5>Certification Course</h5>
<span>Duration: <strong>1 year</strong></span>
</div></div>
</div>
</div>   
{% endblock main %}