{% extends "parent.html" %}
{% load static %}
{% block main %}
<div class="row bg-warning text-light" style="min-height: 80px;">
    <marquee scrollamount="20">
    <div class="col-sm-4 bg-danger" style="height: 60px; width:320px;float:left; font-size: 12px; text-align:center; margin-top:10px; margin-left:10px;">The portal is easy to access & highly user
        friendly for the<br> students & study centres.</div>
    <div class="col-sm-4 bg-danger" style="height: 60px; width:320px;float:left;font-size: 12px; text-align:center;margin-top:10px; margin-left:10px;">The portal is fully secured and accessible
        24 x 7 to its<br> authorised users.</div>
    <div class="col-sm-4 bg-danger" style="height: 60px; width:320px;float:left;font-size: 12px; text-align:center; margin-top:10px; margin-left:10px;">The portal is easy to access & highly user
        friendly for the<br> students & study centres.</div>
    </marquee>
</div>
<div class="row ">
    <div class="col-sm-7 " style="background-color: white; min-height: 500px; ">
        <h5 style="margin-left:200px; margin-top:50px; font-family:garamond;">DESCRIPTION<b><hr style="margin-top:-10px; margin-left:150px; width: 100px; color:red;"></h5></b>
        <h1 style="margin-left:200px; font-family:garamond; color:red;" ><b>ABOUT NOU e-GYAN PORTAL</b></h1>
        <p style="font-size: 18px; margin-left:100px; margin-top:30px; text-align:justify;"><b>Nalanda Open University</b> welcomes all our students, faculties & study centres to the very new & innovative online study portal<b> NOU e-Gyan.</b> The portal is a unique initiative by Hon'ble Vice-Chancellor<b> Prof. (Dr.) K C Sinha,</b> which aims at providing online study material to the students of NOU.</p>
        <p style="font-size: 18px; margin-left:100px; text-align:justify;">The portal is accessible from any hook and corner of the world if the system allows the permission to its users. It is also fully secured and accessible 24 x 7 to its authorised users. It will resolve the academic issues such as E-content Distribution, Delivery, Tracking, Assessment, Progress Monitoring & Controlling of all stakeholders of the system i.e. students, teachers, study centre administrators as well as Nalanda Open University Admins when they are at a distance.</p>
    </div>
    <div class="col-sm-3" style="background-color:white; min-height: 600px; ">
        <img src="{% static 'images/g2.jpg' %}" height="100%" width="550px"/>
    </div>
</div>
<div class="row mt-2" style="height: 600px; background-color:transparent;">
    <div class="col-sm-12">
        <h5 style="margin-left:200px; margin-top:50px; font-family:garamond;">PORTAL<b><hr style="margin-top:-10px; margin-left:150px; width: 100px; color:red;"></h5></b>
        <h1 style="margin-left:200px; font-family:garamond; color:red;" ><b>USERS OF THE PORTAL</b></h1>
    </div>
    <!-- <div class="col-sm-1"></div> -->
    <div class="col-sm-3" style="background-color: transparent;border:2px solid black; border-radius:20px; margin-left:100px; margin-top:50px; height:350px; width:300px;">
        <div style="background-color: white; height:300px; width:250px; margin:20px auto; border-radius: 20px;">
            <div style="border-radius:120px; background-color:brown; height:50px; width:50px; text-align:center; font-size:30px; margin:0px auto;"><i class="fa-solid fa-lock" style="color: white;"></i></div>
            <h6 style="font-size: 100px; float:right; margin-top:-40px; opacity:20%;">01</h6>
            <p style="text-align: center; margin-top:90px;">The university admin can login to monitor the portal, provide access to authorised stake holders & upload study material.</p>
            <button class="btn btn-warning" style="margin-left:50px; margin-top:0px; border-radius:20px; color:brown;">University Admin</button>
        </div>
    </div>
    <!-- <div class="col-sm-1"></div> -->
    <div class="col-sm-3 ms-3" style="background-color: transparent;border:2px solid black; border-radius:20px; height:350px; margin-top:50px; width:300px;">
        <div style="background-color: white; height:300px; width:250px; margin:20px auto;border-radius: 20px;">
            <div style="border-radius:120px; background-color:brown; height:50px; width:50px; text-align:center; font-size:30px; margin:0px auto;"><i class="fa-solid fa-book" style="color: white;"></i></div>
            <h6 style="font-size: 100px; float:right; margin-top:-40px; opacity:20%;">02</h6>
            <p style="text-align: center; font-size:15px; margin-top:90px;">The study centres authorised personnel can login to track students progress, enroll students, schedule assignments & generate reports.</p>
            <button class="btn btn-warning" style="margin-left:70px; margin-top:8px; border-radius:20px; color:brown;">Study Center</button>
        </div>
    </div>
    <!-- <div class="col-sm-1"></div> -->
    <div class="col-sm-3 ms-3" style="background-color:transparent;border:2px solid black; border-radius:20px; height:350px; margin-top:50px; width:300px;">
        <div style="background-color: white; height:300px; width:250px; margin:20px auto;border-radius: 20px;">            
            <div style="border-radius:120px; background-color:brown; height:50px; width:50px; text-align:center; font-size:30px; margin:0px auto;"><i class="fa-solid fa-user" style="color: white;"></i></div>
            <h6 style="font-size: 100px; float:right; margin-top:-40px; opacity:20%;">03</h6>
            <p style="text-align: center; font-size:15px; margin-top:90px;">The university enrolled students can login to view the notification by university, access the e-contents, give assignments & track thier progress report.</p>
        <button class="btn btn-warning" style="margin-left:60px; margin-top:-10px; border-radius:20px; color:brown;">NOU Students</button>
</div>
    </div>
</div>
<div class="row mt-2 an" style="min-height: 150px; background-color:white;">
    <div class="col-sm-12">
            <h5 style="margin-left:200px; margin-top:50px; font-family:garamond;">FEATURES<b><hr style="margin-top:-10px; margin-left:100px; width: 100px; color:red;"></h5></b>
            <h1 style="margin-left:200px; font-family:garamond; color:red;" ><b>STUDENT SERVICES</b></h1>
    </div>
</div>
<div class="row an" style="min-height: 400px; background-color:white;">
    <!-- <div class="col-sm-1"></div> -->
    <div class="col-sm-2 portfolio-container" style="background-color: white; height:330px; margin-top: 20px; margin-left:150px; width:280px;">
        <div class="box-1">
            <div style="border: 1px solid;">
            <img src="{% static 'images/login.png' %}" style="height: 220px; width:220px; margin-left: 10px; margin-top:10px;"/>
        <div class="portfolio-info" style="width:255px; margin-top:20px;">
                <div style="background-color: brown; height:50px; width:257px; text-align:center;color:white;">Login </div>
            </div></div>
        </div>
    </div>
    <div class="col-sm-2 portfolio-container" style="background-color: white; height:330px; margin-top: 20px; width:280px;">
        <div class="box-1">
            <div style="border: 1px solid;">
            <img src="{% static 'images/dashboard.jpg' %}" style="height: 220px; width:220px; margin-left: 10px; margin-top:10px;"/>
            <div class="portfolio-info" style="width:255px; margin-top:20px;">
                <div style="background-color: brown; height:50px; width:257px; text-align:center; color:white;">Dashboard</div>
            </div></div>
        </div>
    </div>
    <div class="col-sm-2 portfolio-container" style="background-color: white; height:330px;margin-top: 20px; width:280px;">
        <div class="box-1">
            <div style="border: 1px solid;">
            <img src="{% static 'images/slm.jpg' %}" style="height: 220px; width:220px;margin-left: 10px; margin-top:10px;"/>
            <div class="portfolio-info" style="width:255px; margin-top:20px;">
                <div style="background-color: brown; height:50px; width:257px; text-align:center; color:white;">Self Learning Material</div>
            </div>        </div>
        </div>
    </div>
    <div class="col-sm-2 portfolio-container" style="background-color: white; height:330px;margin-top: 20px; width:280px;">
        <div class="box-1">
            <div style="border: 1px solid;">
            <img src="{% static 'images/ebook.jpg' %}" style="height: 220px; width:220px; margin-left: 5px; margin-top:10px;"/>
            <div class="portfolio-info" style="width:255px; margin-top:20px;">
                <div style="background-color: brown; height:50px; width:257px; text-align:center; color:white;">E-books</div>
            </div></div>
        </div>
    </div>
</div>
<div class="row an" style="min-height: 300px; background-color:WHITE; margin-top:-50px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-2 portfolio-container" style="background-color: white; height:330px; margin-left:36px; width:280px;">
        <div class="box-1">
            <div style="border: 1px solid;">
            <img src="{% static 'images/self-assessment.svg' %}"style="height: 220px; width:220px; margin-left: 15px; margin-top:10px;"/>
            <div class="portfolio-info" style="width:255px; margin-top:20px;">
                <div style="background-color: brown; height:50px; width:257px; text-align:center; color:white;">Self-assessment</div>
            </div>       </div> 
        </div>
    </div>
    <div class="col-sm-2 portfolio-container" style="background-color: white; height:330px;width:280px;">
        <div class="box-1">
            <div style="border: 1px solid;">
            <img src="{% static 'images/performance.jpg' %}"style="height: 220px; width:220px; margin-left: 15px; margin-top:10px;"/>
            <div class="portfolio-info" style="width:255px; margin-top:20px;">
                <div style="background-color: brown; height:50px; width:257px; text-align:center; color:white;">Performance</div>
            </div>    </div>    
        </div>
    </div>
    <div class="col-sm-2 portfolio-container" style="background-color: white; height:330px; width:280px;">
        <div class="box-1">
            <div style="border: 1px solid;">
            <img src="{% static 'images/feedback.jpg' %}" style="height: 220px; width:220px; margin-left: 15px; margin-top:10px;"/>
            <div class="portfolio-info" style="width:255px; margin-top:20px;">
                <div style="background-color: brown; height:50px;width:257px; text-align:center; color:white;">Feedback</div>
            </div>      </div>  
        </div>
    </div>
    <div class="col-sm-2 portfolio-container" style="background-color: white; height:330px;width:280px;">
        <div class="box-1">
            <div style="border: 1px solid;">
            <img src="{% static 'images/catalog.jpg' %}" style="height: 220px; width:220px; margin-left: 15px; margin-top:10px;"/>
            <div class="portfolio-info" style="width:255px; margin-top:20px;">
                <div style="background-color: brown; height:50px;width:257px; text-align:center; color:white;">Courses-Catalog</div>
            </div>       </div> 
        </div>
    </div>
</div>
<div class="row" style="min-height: 150px; background-color:gray;">
    <div class="col-sm-12">
        <h5 style="margin-left:200px; margin-top:50px; font-family:garamond;">OUR MENTORS<b><hr style="margin-top:-10px; margin-left:150px; width: 100px; color:red;"></h5></b>
        <h1 style="margin-left:200px; font-family:garamond; color:red;" ><b>ADMINISTRATIVE SETUP</b></h1>
    </div>
</div>
<div class="row" style="min-height: 400px; background-color:gray;">
    <!-- <div class="col-sm-1"></div> -->
    <div class="col-sm-2 portfolio-container" style="background-color: white; border-radius: 20px; box-shadow:0px 0px 10px 10px; height:330px; margin-left:70px; margin-top: 20px; width:280px; float: left;">
        <div class="box-1">
            <img src="{% static 'images/krishna.jpg' %}" class="an1" title="Prof. (Dr.) K. C. Sinha" style="height: 220px; width:220px; border-radius:150px; margin-left: 15px; margin-top:10px;"/>
            <div class="portfolio-info" style="width:280px; margin-top:20px;">
                 <h4 style=" margin-left:40px; font-size:20px;">Prof. (Dr.) K. C. Sinha</h4>
                 <h6 style=" margin-left:60px;">VICE CHANCELLOR</h6>
            </div>        
        </div>
    </div>
    <div class="col-sm-2 portfolio-container" style="background-color: white;border-radius: 20px; box-shadow:0px 0px 10px 10px; height:330px; margin-top: 20px; width:280px; margin-left:40px; float: left;">
        <div class="box-1">
            <img src="{% static 'images/sanjoy.jpg' %}"  class="an1" title="Prof. (Dr.) Sanjoy Kumar" style="height: 220px; width:220px; border-radius:150px; margin-left: 15px; margin-top:10px;"/>
            <div class="portfolio-info" style="width:280px; margin-top:20px;">
                 <h4 style=" margin-left:20px; font-size:20px;">Prof. (Dr.) Sanjoy Kumar</h4>
                 <h6 style=" margin-left:40px;">PRO VICE CHANCELLOR</h6>
            </div>        
        </div>
    </div>
    <div class="col-sm-2 portfolio-container" style="background-color: white;border-radius: 20px; box-shadow:0px 0px 10px 10px; height:330px;margin-top: 20px; width:280px;  margin-left:40px; float: left;">
        <div class="box-1">
            <img src="{% static 'images/habibur.jpg' %}" class="an1" title="Dr. Md. Habibur Rahman" style="height: 220px; width:220px; border-radius:150px; margin-left: 15px; margin-top:10px;"/>
            <div class="portfolio-info" style="width:300px; margin-top:20px;">
                 <h4 style=" margin-left:20px; font-size:20px;">Dr. Md. Habibur Rahman</h4>
                 <h6 style=" margin-left:80px;">REGISTRAR</h6>
            </div>        
        </div>
    </div>
    <div class="col-sm-2 portfolio-container" style="background-color: white;border-radius: 20px; box-shadow:0px 0px 10px 10px; height:330px;margin-top: 20px; width:280px; margin-left:40px; float: left;">
        <div class="box-1">
            <img src="{% static 'images/neelam.jpg' %}" class="an1" title="Dr. Neelam Kumari" style="height: 220px; width:220px; border-radius:150px; margin-left: 15px; margin-top:10px;"/>
            <div class="portfolio-info" style="width:280px; margin-top:20px;">
                 <h4 style=" margin-left:40px; font-size:22px;">Dr. Neelam Kumari</h4>
                 <h6 style=" margin-left:70px;">REGISTRAR (EXAM)</h6>
            </div>        
        </div>
    </div>
</div>
<div class="row" style="min-height: 100px; background-color:white;">
    <div class="col-sm-12">
        <h5 style="margin-left:180px; margin-top:50px; font-family:garamond;">COURSES<b><hr style="margin-top:-10px; margin-left:100px; width: 100px; color:red;"></h5></b>
        <h1 style="margin-left:180px; font-family:garamond; color:red;" ><b>Our Courses</b></h1>
        <div style="background-color: orange; height:30px; width:150px; text-align:center; float:right; margin-top:-50px;"><a href="{% url 'nouapp:courses' %}" style="text-decoration: none; color:white;">View all Courses</a></div>
    </div>
    <div class="col-sm-2 portfolio-container">
        <div class="box-1" style="margin-left: 50px;">
            <img src="{% static 'images/bba.png' %}" class="an2" style="height: 150px; width:250px; border-radius: 10px;"/>
            <div class="portfolio-info" style=" width:250px;">
        <h6 style="font-size: 20px; text-align:center;">Bachelor in Business Administration</h6>
    </div></div>
</div>
<div class="col-sm-2 portfolio-container">
    <div class="box-1" style="margin-left: 80px;">
        <img src="{% static 'images/bca.png' %}" class="an2" style="height: 150px; width:250px; border-radius: 10px;"/>
        <div class="portfolio-info" style="width:250px;">
    <h6 style="font-size: 20px; text-align:center;">Bachelor in Computer Application</h6>
</div></div>
</div>
<div class="col-sm-2 portfolio-container">
    <div class="box-1" style="margin-left: 110px;">
        <img src="{% static 'images/mca.png' %}" class="an2" style="height: 150px; width:250px; border-radius: 10px;"/>
        <div class="portfolio-info" style="width:250px;">
    <h6 style="font-size: 20px; text-align:center;">Master in Computer Application</h6>
</div></div>
</div>
<div class="col-sm-2 portfolio-container">
    <div class="box-1" style="margin-left: 140px;">
        <img src="{% static 'images/cacl.png' %}" class="an2"style="height: 150px; width:250px; border-radius: 10px;"/>
        <div class="portfolio-info" style="width:250px;">
    <h6 style="font-size: 20px; text-align:center;">Certificate in Abolition of Child Labour</h6>
</div></div>
</div>
<div class="col-sm-2 portfolio-container">
    <div class="box-1" style="margin-left: 170px;">
        <img src="{% static 'images/pgdfm.png' %}" class="an2" style="height: 150px; width:250px; border-radius: 10px;"/>
        <div class="portfolio-info" style="width:250px;">
    <h6 style="font-size: 20px; text-align:center;">Post Graduate Diploma(Financial Management)</h6>
</div></div>
</div>
</div>
<div class="row" style="background-color: transparent; height:600px;">
    <div class="col-sm-12">
        <h5 style="margin-left:180px; color:black; margin-top:50px; font-family:garamond;"><b>HOW TO USE</b><hr style="margin-top:-10px; margin-left:150px; width: 100px; color:red;"></h5>
        <h1 style="margin-left:180px; font-family:garamond; color:red;" ><b>NOU e-Gyan Portal Tutorials Video</b></h1>
    </div>
        <div class="col-sm-6 text-center text-lg-start mt-4">
            <div class="video-1 an3">
                <iframe style="margin-left: 200px;" width="500" height="280" src="https://www.youtube.com/embed/Sh9VxOBoYbk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-6 text-center text-lg-start mt-4">
            <div class="video-1 an3">
                <iframe width="500" height="280" src="https://www.youtube.com/embed/cEaTY8EfdRs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
</div>
<div class="row" style="background-color: white; min-height:100px;">
    <div class="col-sm-12">
            <h5 style="margin-left:200px; margin-top:50px; font-family:garamond;">HELPDESK<b><hr style="margin-top:-10px; margin-left:120px; width: 100px; color:red;"></h5></b>
            <h1 style="margin-left:200px; font-family:garamond; color:red;" ><b>ALWAYS HERE TO SUPPORT YOU!</b></h1>
    <div class="col-sm-6" style="float: left;">
        <img src="{% static 'images/helpline.svg' %}" style="height: 450px; width:450px; margin-left:250px;"/>
    </div>
    <div class="col-sm-6" style="float: right;">
        <div style="text-align: center; background-color:orange; color:white; margin-top:50px; height:80px; width:500px;">The Help Desk provides user assistance to navigate and understand the aspects of the portal. This also provides a simple interface for maintenance of student information and issues faced</div>
        <div style="font-size:20px; border:1px groove; height:80px; width:500px; margin-top:10px;"><p  class="an"style="margin-left:50px; margin-top:20px;"><i class="fa-solid fa-phone" style="color:orange;"></i><b>+91 7080102007</b></p></div>
        <div style="font-size:20px; border:1px groove; height:80px; width:500px; margin-top:10px;"><p  class="an"style="margin-left:50px; margin-top:20px;"><i class="fa-solid fa-envelope" style="color:orange;"></i><b>nouegyanhelp@gmail.com</b></p></div>
    </div>
    </div>
</div>
<div class="row" style="background-color: gray; min-height:300px;">
    <div class="col-sm-12">
        <h5 style="margin-left:200px; margin-top:50px; font-family:garamond;">LINKS<b><hr style="margin-top:-10px; margin-left:70px; width: 100px; color:red;"></h5></b>
            <h1 style="margin-left:200px; font-family:garamond; color:red;" ><b>QUICK LINKS</b></h1>
    </div>
    <div style="height:100px; width:330px; border:1px solid; margin-left:17px; background-color:white;">
        <a href="http://www.nou.ac.in/examination.html" target="_blank" style="text-decoration: none; color:black;">
        <img src="{% static 'images/logo.png' %}" style="height:90px; width:100px; margin-top:5px;"/>
        <p style="margin-left: 120px; margin-top:-90px; font-size:25px; text-align:center;"><b>NOU</b></p>
        <p style="margin-left: 120px; font-size:15px; margin-top:-20px; margin-left:170px;">Nalanda Open University</p>
    </a>
    </div>
    <div style="height:100px; width:330px; border:1px solid; margin-left:5px; background-color:white;">
        <a href="https://state.bihar.gov.in/dst/CitizenHome.html" target="_blank" style="text-decoration: none; color:black;">
        <img src="{% static 'images/logo2.png' %}" style="height:90px; width:100px; margin-top:5px;"/>
        <p style="margin-left: 120px; margin-top:-90px; font-size:25px; text-align:center;"><b>STD</b></p>
        <p style="margin-left: 120px; font-size:15px; margin-top:-20px; margin-left:120px;">Science & Technology Department</p>
        </a>
    </div>
    <div style="height:100px; width:330px; border:1px solid; margin-left:5px; background-color:white;">
        <a href="https://www.ugc.gov.in/" target="_blank" style="text-decoration: none; color:black;">
        <img src="{% static 'images/logo3.png' %}" style="height:90px; width:100px; margin-top:5px;"/>
        <p style="margin-left: 120px; margin-top:-90px; font-size:25px; text-align:center;"><b>UGC</b></p>
        <p style="margin-left: 120px; font-size:15px; margin-top:-20px; margin-left:170px;">University Grant Commisions</p>
        </a>
    </div>
    <div style="height:100px; width:330px; border:1px solid; margin-left:5px; background-color:white;">
        <a href="http://bshec.in/" target="_blank" style="text-decoration: none; color:black;">
        <img src="{% static 'images/logo4.png' %}" style="height:90px; width:100px; margin-top:5px;"/>
        <p style="margin-left: 120px; margin-top:-90px; font-size:25px; text-align:center;"><b>BSHEC</b></p>
        <p style="margin-left: 120px; font-size:15px; margin-top:-20px; margin-left:140px;">Bihar State Higher Education Council</p>
        </a>
    </div>
</div>
<div class="row" style="background-color: white; min-height:100px;">
    <div class="col-sm-12">
        <h5 style="margin-left:200px; margin-top:50px; font-family:garamond;">FEEDBACK<b><hr style="margin-top:-10px; margin-left:120px; width: 100px; color:red;"></h5></b>
            <h1 style="margin-left:200px; font-family:garamond; color:red;" ><b>FEEDBACK FROM OUR STUDENTS</b></h1>
    </div>
    <section class="spacer">
        <div class="container py-4">
        <div class="row">
        <div class="col-sm-12 pt-3 mt-3 supporter-main">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
        <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
        <div style="height:150px; width:150px;">
        <img src="{% static 'images/t4.jpg' %}" alt style="height:100%; width:100%;">
        </div>
        </div>
        <div class="col-sm-9 supt-txt">
        <p>“This is best and biggest unified platform
        for instant online learning. We can easily
        access any content of our enrolled course from the portal. Thank you NOU e-Gyan!!“</p>
        <h6>-Rani Verma-</h6>
        <h6>University Student</h6>
        </div>
        </div>
        </div>
        <div class="carousel-item">
        <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
        <div style="height:150px; width:150px;">
        <img src="{% static 'images/t3.webp' %}" alt style="height:100%; width:100%;">
        </div>
        </div>
        <div class="col-sm-9">
        <p> “This is best and biggest unified platform
        for instant online learning. We can easily
        access any content of our enrolled course from the portal. Thank you NOU e-Gyan!!“</p>
        <h6>-Saurabh Tripathi-</h6>
        <h6>University Student</h6>
        </div>
        </div>
        </div>
        <div class="carousel-item">
        <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
        <div class="supt-img" style="height:150px; width:150px;">
        <img src="{% static 'images/t1.jpg' %}" alt style="height:100%; width:100%;">
        </div>
        </div>
        <div class="col-sm-9">
        <p>“This is best and biggest unified platform
        for instant online learning. We can easily
        access any content of our enrolled course from the portal. Thank you NOU e-Gyan!!“</p>
        <h6>-Avanish Sharma-</h6>
        <h6>University Student</h6>
        </div>
        </div>
        </div>
        <div class="carousel-item">
        <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
        <div style="height:150px; width:150px;">
        <img src="{% static 'images/t2.jpg' %}" alt style="height:100%; width:100%;">
        </div>
        </div>
        <div class="col-sm-9">
        <p>“This is best and biggest unified platform
        for instant online learning. We can easily
        access any content of our enrolled course from the portal. Thank you NOU e-Gyan!!“</p>
        <h6>-Krishna Kumari-</h6>
        <h6>University Student</h6>
        </div>
        </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden" style="color:red;">Next</span>
        </button>
        </div>
        </div>
        </div>
        </div>
        </section>
</div>
{% endblock main %}