{% extends 'parent.html' %}
{% load static %}
{% block main %}
<div class="row mt-2" style="background-color:white; height:1600px;">
    <div class="col-sm-12 p-5">
        <h5 style="margin-left:150px; margin-top:50px; font-family:garamond; color:gray;">FEATURES<b><hr style="margin-top:-10px; margin-left:100px; width: 100px; color:red;"></h5></b>
        <h3 style="margin-left:150px; font-family:garamond; color:black;" ><b>STUDENT SERVICES</b></h3>
    </div>
    <div class="col-sm-6" style="width:500px; border:1px groove; margin-left:250px;">
        <img src="{% static 'images/ser1.png' %}" style="height:80px; width:80px; margin-top:20px;"/>
        <h3 style="margin-top:-70px; margin-left:80px; color:orange;">Login</h3>
        <p style="text-align: justify; margin-left:80px;">Make your way into the portal through the login page where different users are provided with a username and password to gain access to theuniversity’s programs and other learning related materials</p>
    </div>
    <div class="col-sm-6" style=" width:500px; border:1px groove; margin-left:150px;">
        <img src="{% static 'images/ser2.png' %}" style="height:80px; width:80px; margin-top:20px;"/>
        <h3 style="margin-top:-70px; color:orange; margin-left:80px;">Dashboard</h3>
        <p style="text-align: justify; margin-left:80px;">The AI-based dashboard will serve as an administrative home page to access key Information about Course Details, Assignments, Quizzes/MCQs, Self-Learning Materials, Course Catalogue, Progress Report, Notifications and other useful tabs. There is a provision for Help to guide ad navigate through the portal.</p>
    </div>
    <div class="col-sm-6" style=" width:500px; border:1px groove; margin-top:70px; margin-left:250px;">
        <img src="{% static 'images/ser3.png' %}" style="height:80px; width:80px; margin-top:20px;"/>
        <h3 style="margin-top:-70px; color:orange; margin-left:80px;">Self Learning Material</h3>
        <p style="text-align: justify; margin-left:80px;">IThe students enrolled in the university have a wide range of courses available online covering different subjects. These courses include videos, images, word/PDF files,external links, assignments and quizzes for their study material.</p>
    </div>
    <div class="col-sm-6" style=" width:500px; border:1px groove; margin-top:70px; margin-left:150px;">
        <img src="{% static 'images/ser4.png' %}" style="height:80px; width:80px; margin-top:20px;"/>
        <h3 style="margin-top:-70px; color:orange; margin-left:80px;">e-Books</h3>
        <p style="text-align: justify; margin-left:80px;">The E-Books will give a digital access to the self- learning material that are course related e-Contents, presentations, PDF or Word file notes, videos and external links and self-assessment materials for the students like assignments and quizzes on a single platform.</p>
    </div>
    <div class="col-sm-6" style=" width:500px; margin-left:250px; border:1px groove; margin-top:70px;">
        <img src="{% static 'images/ser5.png' %}" style="height:80px; width:80px; margin-top:20px;"/>
        <h3 style="margin-top:-70px; color:orange; margin-left:80px;">Self Assessment Tools</h3>
        <p style="text-align: justify; margin-left:80px;">Self-Assessment allows the student to analyse and evaluate their academic performance through various Self-Assessment tools like e-Contents, Videos, assignments, quizzes/MCQs, external links and others. The self-assessment also enables testing the progress and learn better.</p>
    </div>
    <div class="col-sm-6" style=" width:500px; margin-top:70px; margin-left:150px; border:1px groove;">
        <img src="{% static 'images/ser6.png' %}" style="height:80px; width:80px; margin-top:20px;"/>
        <h3 style="margin-top:-70px; color:orange; margin-left:80px;">Performance</h3>
        <p style="text-align: justify; margin-left:80px;">The enrolled students will have courses ranging from certificate to degree course. The progress reports of these courses can be monitored by the students on their portal and give the student an in-depth analysis of the progress.</p>
    </div>
    <div class="col-sm-6" style=" width:500px; margin-left:250px; margin-top:70px; border:1px groove;">
        <img src="{% static 'images/ser7.png' %}" style="height:80px; width:80px; margin-top:20px;"/>
        <h3 style="margin-top:-70px; color:orange; margin-left:80px;">Feedback</h3>
        <p style="text-align: justify; margin-left:80px;">Constructive feedback from students is a valuable resource for improving the learning process. The portal allows the students to provide feedback to address aspects of the course and self-learning material.</p>
    </div>
    <div class="col-sm-6" style=" width:500px; margin-left:150px; margin-top:70px; border:1px groove;">
        <img src="{% static 'images/ser8.png' %}" style="height:80px; width:80px; margin-top:20px;"/>
        <h3 style="margin-top:-70px; color:orange; margin-left:80px;">Course Catalogue</h3>
        <p style="text-align: justify; margin-left:80px;">The course catalogue is a document that lists the courses available in the university with a complete and brief description of each course. This course catalogue also provides a description that includes important details of the course like credits, course durations, modules, prerequisites and more.</p>
    </div>
</div>
{% endblock main %}