body{
    background-image: url(../images/g1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#navbarSupportedContent ul li:hover
{
    background-color:skyblue;
}